name: mbirjax
channels:
  - conda-forge
  - defaults
dependencies:
  - python>=3.9
  - pytest
  - matplotlib
  - numpy
  - setuptools
  - jax
  - jaxlib
  - sphinx
  - sphinxcontrib-bibtex
  - sphinx-book-theme>=1.0.1
  - sphinx-design
  - sphinx-copybutton
  - ruamel.yaml
  - psutil
  - striprtf
  - h5py
  - pip  # Add any additional packages here and in pyproject.toml
  - pip:
      - -e .
      - easygui
