[build-system]
requires = ["setuptools>=61", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "MBIRJAX"
version = "0.1"
description = "High-performance tomographic reconstruction"
authors = [
    { name = "MBIRJAX development team", email = "buzzard@purdue.edu" }
]
license = { file = "LICENSE" }
readme = "README.rst"
requires-python = ">= 3.8"

[tool.setuptools]
packages = { find = {} }

[project.urls]
homepage = "https://mbirjax.readthedocs.io"
source = "https://github.com/cabouman/mbirjax"
